

html, body {
    height: 100%;
}

/* ===== Background Fix ===== */
body {
    min-height: 100vh;
    background: url("images/wdd131-background.jpeg") no-repeat center center fixed;
    background-size: cover;
    background-color: #000;
    max-height: 700px;
}

/*=== Fonts ===*/
p {
    color: #fff;
    text-shadow: #670065;
}

/* === Header === */
header {
    background: url("images/header-image.jpg") no-repeat center;
    background-size: 100% 260px;
    height: 178px;
    display: flex;
    align-items: center;
 
}


header img {
    display: block;
    width: 90px;
    height: 100px;
    border: 5px solid #ff0000;
    border-radius: 20px;
    box-shadow: 0 0 20px #fff;
}

/* === Navigation === */
nav {
    background: #c800ff;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
    height: 50px;
    border-top: 3px solid #00d0f9;
    border-bottom: 3px solid #00d0f9;
    padding: 0 20px;
    box-sizing: border-box;

}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    text-shadow: 0px 0px 3px #22a203;
    transition: background 0.3s ease, text-shadow 0.3s ease;
    display: none;
}

nav a:hover {
    background-color: #00d0f9;
    text-shadow: 4px 4px 2px #c800ff;
}

/* === Menue Button === */
.menu-btn { 
    cursor: pointer; 
    border: none; 
    background-color: transparent; 
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: rgb(255, 249, 249);
    margin: 5px 0;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
          

/* === Home Page === */
.Welcome_Message > h1 {
    color: #fff;
    grid-column: 1 / -1;
    justify-self: center;
    text-align: center;
}

/* ===== FEATURED PROJECTS ===== */
.Featured_Projects {
    width: 90%;
    max-width: 1400px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 40px;
}

.Featured_Projects > h2 {
    color: #fff;
    grid-column: 1 / -1;
    text-align: center;
}

.Featured_Projects img {
    height: 350px;
    width: 350px;
    border: 5px solid #f9cb00;
    border-radius: 20px;
    box-shadow: 0 0 20px #ffffff;
}

/* === Ponder Page === */
.ponder-projects {
    width: 90%;
    max-width: 1400px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 40px;
}

.ponder-projects > * {
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.ponder-projects p {
    color: #f9cb00;
}

.ponder-welcome > h1 {
    grid-column: 1 / -1;
    justify-self: center;
    text-align: center;
}

.ponder-projects img {
    height: 350px;
    width: 350px;
    border: 5px solid #f9cb00;
    border-radius: 20px;
    box-shadow: 0 0 20px #ffffff;
}

/* === Prove Page === */
.prove-projects {
    width: 90%;
    max-width: 1400px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 40px;
}

.prove-projects > * {
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.prove-projects p {
    color: #f9cb00;
}

.prove-welcome > h1 {
    grid-column: 1 / -1;
    justify-self: center;
    text-align: center;
}

.prove-projects img {
    height: 350px;
    width: 350px;
    border: 5px solid #f9cb00;
    border-radius: 20px;
    box-shadow: 0 0 20px #ffffff;
}
/* === FOOTER === */
footer {
    margin: 20px auto 0;
    width: 90%;
    max-width: 900px;
    text-align: center;
    padding: 15px;
    border: 5px solid #f9cb00;
    border-radius: 20px;
    box-shadow: 0 0 20px #ffffff;
    color: #f2c46e;
    text-shadow: 1px 1px 3px #330033;
}

/* ===== Tablet ===== */
@media screen and (min-width: 700px) {
    .Featured_Projects {
        grid-template-columns: 1fr 1fr;
    }
    .ponder-projects {
        grid-template-columns: 1fr 1fr;
    }
     .prove-projects {
        grid-template-columns: 1fr 1fr;
    }
    body{
        max-width: none;
    }
    header img{
        width: 150px;
        height: 168px;
    }
}

/* ===== Desktop ===== */
@media screen and (min-width: 1000px) {
    .Featured_Projects {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .ponder-projects {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .prove-projects {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .menu-btn {
        display: none;
    }
 
    nav {
            justify-content: center;   
    }

    nav a {
        display: flex;        
    }
}
