body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background-color: #ddd;
}

/* ===== Header ===== */
header {
  background-color: rgb(45, 107, 242);
  color: white;
  text-align: center;
  padding: 8px;
}

/* ===== Menu Button ===== */
.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
}

/* ===== Nav ===== */
nav {
  text-align: center;
}

nav a {
  display: none;
  padding: 1rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

nav a:hover {
  color: #0011f8;
}

/* ===== Main ===== */
main {
  padding: 1rem;
}

main h2 {
  text-align: center;
}

/* ===== Image Grid ===== */
#cool-pics {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 1.5rem;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  justify-items: center;
}

#cool-pics img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 4px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

footer {
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: rgb(45, 107, 242);
  text-align: center;
  width: 100%;}

footer p{
  color: #fff;
}

/* ===== Tablet ===== */
/*If using chrome on a macbook switch to safari or else the mobile verison is not vieable, 
Google said the rendering rate is larger with chrome so I cant see it as the mobile verion
on my laptop. */
@media screen and (min-width: 700px) {
  #cool-pics {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

/* ===== Desktop ===== */
@media screen and (min-width: 1000px) {
  #cool-pics {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  .menu-btn {
    display: none;
  }

  nav a {
    display: inline-block;
  }
}
